*{
    margin:auto;
    font-family: "Black Ops One", sans-serif;
    font-size: 15px;
}
.container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    height: 700px;
    background-color: beige;
}

h1{
    background-color: rgb(126, 122, 122);
    width: 85%;
    padding: 30px 20px;
    text-align: center;
    font-size: 20px;
    color: rgb(228, 111, 111);
}

.clear-btn{
    
    padding: 10px 20px;
    border-radius: 5px;
}
.clear{
    background-color: burlywood;
}

.numbers-only{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 1px solid black;
    width: 80%;
    padding: 2em;
    background-color: #ffe4c4;
}
.numbers-only button{
    background-color: aqua;
}
button:active{
    box-shadow: -1px -1px 4px rgb(36, 35, 35) ;
}

button{
    padding: 10px 40px;
    background-color: thistle;
    border-radius: 10px;
}
.result{
    background-color: aquamarine;
}