*{
    margin:auto;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    height: 700px;
}
.numbers-only{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 1px solid black;
    width: 80%;
    padding: 2em;
    background-color: #ffe4c4;
}
.numbers-only button{
    background-color: aqua;
}
button:active{
    box-shadow: -1px -1px 4px rgb(36, 35, 35) ;
}

button{
    padding: 10px 40px;
}